.flexBox {
    display: flex;
}

.flexItem {
    margin: 20px;
}


.colorLine {
    height: 0.1em;
    /* background: linear-gradient(
        to right,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    ); */
    background: 
   linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/200% 100%;
    animation: cL 5s ease infinite;
}

@keyframes cL {
    to {background-position:-200% 0}
  }

@media only screen and (max-width : 768px) {
    
    .twoCol {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    
    .flexBox {
        flex-direction: column;
    }

    .flexItem {
        margin: 5px;
    }

}