body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace, system-ui, sans-serif;
}

.container {
    color: #FFFFFF;
    background-color: #1c1c1c;
    padding: 30px;
    min-height: 1200px;
}

h1,h3,h4,h5,h6 {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-kerning: normal;
    font-variant-ligatures: contextual common-ligatures;
    -webkit-font-feature-settings: "kern" on,"liga" on,"calt" on,"zero" on;
    text-rendering: optimizeLegibility;
  }

  h2 {
    font-family: system-ui;
  }


/* Nav Bar and Links */

.nav-links {
display: flex;
justify-content: flex-end;
list-style: none;
padding-left: 0;
margin: 0;
}

.nav-link-item {
padding-right: 2rem;
}

.nav-link-text {
color: #FFFFFF;
}

.active {
  color: greenyellow;
}

/* Footer Icons */

.icon {
  filter: invert(100%);
  width: 2.25em;
}